[2017-03-04 18:59] ventz opened #1 "csirtg-smrt error and traceback in 3.0.0a17"
Hi,

Seeing this in 3.0.0a17:
(pasting a few just to see the time pattern, also the process ##)

[code]

and

[code]

and

[code]

[2017-03-07 19:00] wesyoung commented on #1
what does your /etc/cif/rules/default look like; almost looks like somehow default/alexa.yml got .. renamed?

[2017-03-07 19:08] ventz commented on #1
[code]

[2017-03-07 19:21] wesyoung commented on #1
i'm assuming this is your docker instance? kinda wondering if docker is doing something funny with the rules files when you re-install?

looking at the ones that have the timestamp on them, they are the ones i did modify in this release.

[2017-03-07 19:23] ventz commented on #1
Not docker - on AWS :)

I can remove those -- this is after the upgrade btw, (from .16 -> .17) -- so maybe something moved the old rules?

[2017-03-07 19:26] wesyoung commented on #1
ahhhh. i wonder if ansible did that then? yea remove those. i added a ticket to lock smrt down with ".yml$" regex instead of just ".yml"

i've been testing by blowing away the box and re-running from scratch (have some shell scripts to help me out). i don't start testing with an upgrade till we get to the RC stages (too much changes release to release).

[2017-03-07 19:46] wesyoung commented on #1
actually, csirtg-smrt is doing the right thing, we just weren't catching the exception properly:

https://github.com/csirtgadgets/csirtg-smrt-py/compare/fix/180?expand=1

this will still log the error, but it needed a try/except so the process didn't die.

ty!

[2017-03-07 19:46] #1 closed, assigned to wesyoung

[2017-04-17 12:55] wesyoung opened #3 "problem: missing monit playbook example"

[2017-04-19 12:21] wesyoung opened #4 "problem: missing un-attended upgrades by default in playbook (ubuntu)"
https://help.ubuntu.com/community/AutomaticSecurityUpdates

[2017-04-19 12:23] wesyoung opened #5 "problem: csirtg-smrt default missing --goback flag"
when we run as a service, default --goback to 3 days. test with phishtank

[2017-04-29 13:20] marekbert opened #7 "Hunter is not working in this release"
Hi,

I hope this is not a stupid issue, however I have installed this latest release on UBUNTU 16 using easybutton.sh and everything seems to be working fine except enrichment via hunter. I have tried to compare it with the latest version I have been using that was working fine and only thing i was able to find is that defaultly /etc/cif.env in this release looks like this:

ubuntu@ip-172-31-9-151

[2017-04-29 15:07] marekbert commented on #7
If I restart the cif-router service, I am also missing "launching hunters" etc.

[2017-04-29 15:32] marekbert commented on #7
So, I had to fill these lines.. quite obvious but I didnt expect that

[2017-04-29 15:32] #7 closed, assigned to nobody

[2017-04-29 16:40] wesyoung commented on #7
in the latest default install we're leaving those blank on purpose. we've had numerous issues over the years with new users who didn't quite understand what hunters (formally cif-worker) did, and why the default install wreaked havoc on their system (network traffic, cpu utilization, as hunters churned through messages). there's still some FAQ work to be done around this specific question and the

[2017-04-29 17:08] marekbert commented on #7
@wesyoung  Yes, thank you. What would be your recommended settings on AWS m4.xlarge for example dedicated to CIF. I've used 8.  When I check top, the utilization isn't that full and initial processing take quite time :) Thanks for your prompt response

[2017-04-29 17:33] wesyoung commented on #7
right now i'm testing with a t2.medium and 2-4 threads. i've done some testing with 4-8 but not enough to really know where the happy balance is. at some point the network latency as well as how fast sqlite can really upsert everything (avg i've seen is 250/sec) becomes the problem.

my best guess right now [with sqlite] is somewhere between 4-6. at some point a postgres plugin needs to be built/c

[2017-05-01 09:56] marekbert commented on #7
@wesyoung Yes, absolutely. Thank you for taking time to asnwer :) 👍

[2017-05-04 00:34] ventz opened #8 "small bug: ubuntu16/bootstrap.sh -> if check"
Hi,

The 'if' check at the bottom of the ubuntu16 bootstrap.sh throws an error:

[code]

I think you can fix this just by using double brackets "[[" and "]]"

[2017-05-08 15:46] #8 closed, assigned to nobody

[2017-05-08 15:46] wesyoung commented on #8
ty!

[2017-05-08 15:47] #5 closed, assigned to nobody

[2017-05-09 15:53] ShyanFung opened #9 "problem: ubuntu16 systemd startup of cif-router.store is not picking up CIF_ES_NODES."
Having issues setting up non-localhost eleasticsearch node with BAD-kit 3.0.0.a1.
See cif-user group exchange: https://groups.google.com/forum/#!topic/ci-framework/PUFeFEuhAOc

Testing Setup:
1. Run ESv2 in it's own Docker container (or setup a hosted ES cluster that not local to CIFv3 install).
2. Install and run BAD-kit install on Ubuntu16 image via bash'ing the easybutton.sh. Set/export followi

[2017-05-09 17:18] #9 closed, assigned to nobody

[2017-06-10 15:37] wesyoung opened #11 "problem: missing gunicorn support"

[2017-06-21 17:26] fl0wc0ntr0l opened #12 "problem: deploymentkit for 3.0.0a20 always fails due to test_gatherer_peer tests"
Current version of the deployment kit will always fail due to including the test_gatherer_peer tests that were enabled in bearded-avenger3.0.0a20:
[code]

The issue was fixed [in this commit](https://github.com/csirtgadgets/bearded-avenger/pull/312/commits/6f05e801ab9c2644fd23ce39e4aca64768bd466e) 2 days after 3.0.0a20 was released, but since the deploymentkit is hardcoded to use a specific releas

[2017-06-27 03:36] coonsmatthew opened #13 "Easybutton script does not run"
Hey guys,

I'm trying an install on RHEL 7.3, should that work? I'm testing out v3, it seems pretty awesome! I've gotten the install to almost finish in the last few weeks, but it's failed before it finishes successfully. Now when I try to execute the easybutton.sh script, I get:

[code]

The output seems to be informational, but the script does not continue to run, so I'm wondering if there is so

[2017-06-27 11:36] wesyoung commented on #13
i've only tested with CentOS 73, have signed up for a RHEL developer lic so i could do some RHEL testing [when someone kicked me] which hasn't happened until now :)

which should look a bit like the CentOS Linux section below it.

if you've got the cycles to mess with it a bit we can bat it back and forth a little. if not and you can leverage CentOS for a bit (been testing with cent73 so it should

[2017-06-27 23:59] coonsmatthew commented on #13
Hey Wes! Thanks for the reply.

I just went to the centos7 directory and ran `sudo bash bootstrap.sh` and it seemed to be working quite well until I got to the below task that Ansible failed on.
[code]

[2017-06-28 01:05] wesyoung commented on #13
i just pushed cifv3.0.0a22 and the deployment kit 3.0.0a5 should fix that (i ran into it today too solving some other issues, and fixed it accordingly). pushed the fixes mid day today so you might have just missed it(?)

[2017-06-29 00:09] coonsmatthew commented on #13
Get ready for some crazy log files lol. Everything seems to work great until the script gets to
[code]

And then I get lots of Ansible errors. I sent the error to you in email...it's very long!

[2017-06-29 12:09] wesyoung commented on #13
is this CentOS73 ? and can you paste in how you ran the easy button? i'm assuming you just ran the easybutton, but want to be sure so i can try to re-create it.

also- sometimes the vagrant ISO of 73 i use can be slightly diff than the master iso depending on which one you're using (in which i didn't see any errors in the release testing). link me which one you're downloading so i can see if there

[2017-06-29 12:18] coonsmatthew commented on #13
This is RHEL 7.3. To get around some of the dependency checks, I just went directly into the centos7 directory and ran `sudo bash bootstrap.sh`

I'm running release 3.0.0a5

As far as the ISO that I'm using...that's complicated, it's a "gold image" built by our systems support team, so who knows what configurations they changed on it (I'm hoping not much).

[2017-06-29 12:34] wesyoung commented on #13
ah ok. then i need to go back and spin up a RHEL instance, part of which may be having to write some rules for the subscription activation piece(?). i'm assuming you did that before you ran the EB? or does your GM have that baked in?

[2017-06-29 12:44] coonsmatthew commented on #13
The RHEL server that I'm using has already been registered and activated. We use RHEL here as a default, so that's all handled by our systems support team on server build.

Let me know what/if I can do to help out with the testing, I'm willing and interested!

[2017-06-30 12:18] wesyoung commented on #13
give this a shot

https://github.com/csirtgadgets/bearded-avenger-deploymentkit/archive/fix/redhat.zip
https://github.com/csirtgadgets/bearded-avenger-deploymentkit/pull/14/files

ignore the Vagrantfile_rhel73 file, but you can see how i bootstrapped my vm, reg'd with the RHEL overlords, etc and then how i triggered the easybutton.

i tested it a few times and it appears to work ok. most of teh ch

[2017-08-16 22:40] #13 closed, assigned to nobody

[2017-08-16 22:43] wesyoung commented on #12
ack. yes. this was dumb all around. hopefully have a new release soon.

[2017-08-16 22:43] #12 closed, assigned to nobody

[2017-08-16 22:43] #3 closed, assigned to nobody

[2017-08-16 22:43] #4 closed, assigned to nobody

[2017-08-18 12:43] #11 closed, assigned to nobody

[2017-10-02 12:44] kraigu opened #15 "easybutton fails on recent Ubuntu 16.04"
Using latest deploykit (?), easybutton fails on fresh install of Ubuntu 16.04:

[code]

I'll debug further, but the easy button is not easy, at least for me. :) lsb_release output:

[code]

[2017-10-02 12:56] kraigu commented on #15
I tried `pip install --upgrade cryptography` and that left me worse off - pip didn't work, TLS errors. Wound up doing `apt-get --auto-remove --yes remove python-openssl`, then `pip install pyOpenSSL`, after which the easybutton seemed to work.

[2017-10-02 12:57] wesyoung commented on #15
hrm, i don't see it in my vagrant test (which sometimes is slightly different than a default install of the OS).

just to verify, you're pulling this `https://github.com/csirtgadgets/bearded-avenger-deploymentkit/archive/3.0.0b0.tar.gz` and then: `bash easybutton.sh`, right?

wonder if there are some mis-matched packages in the default 1604 and the vagrant version of it?

[2017-10-02 12:57] kraigu commented on #15
@wesyoung Yes, that's what I did.

[2017-10-02 13:00] wesyoung commented on #15
ok, good to know there's at-least a work-around. i'm wondering if one of your choices (or the systems default choices?) during install ended up installing something that one of the deps didn't like... will make sure to try and clean that specific req up in the next round of testing... 16 doesn't come with a lot of python out of the box- so the EB does do some basic stuff to bootstrap it-

[2017-10-02 13:19] kraigu commented on #15
Must be system default choices, the only thing I changed from the default package selection during install process was I added the OpenSSH Server role. If it would help, I can attach a `dpkg -l` listing from an exactly-the-same-kind install.

[2017-10-02 13:22] wesyoung commented on #15
would not surprise me if that auto-added python and the crypto stuff... also doesn't surprise me that the crypto stuff gets confused (have run into that every now and again). see if we can't work around it moving forward. throw dpkg -l in a gist somewhere and append it here.

[2017-10-02 14:54] kraigu commented on #15
umm.. ok, *I* can't reproduce either on a clean install. Maybe some step failed during my first install, and I didn't notice... I don't get it. Well, at least if somebody else runs into precisely the same issue I had before, they might be able to fix in less than the 10 minutes or so it took me to figure out my workaround? :(

[2017-10-02 15:08] wesyoung commented on #15
sOk, we've run into crypto-python issues in the past (esp as diff software leverages diff interfaces). i'm sure it'll crop up again...

[2017-10-31 19:05] wesyoung opened #16 "problem: reboot doesn't seem to jump start cif- services"

[2017-11-03 12:16] wesyoung commented on #16
seems to be related to ubuntu "desktop" vs "server" and there's not a quick and easy way to determine the difference between teh two. (eg: lsb_release..)

[2017-11-03 12:16] #16 closed, assigned to nobody

[2017-11-26 16:58] wesyoung opened #18 "problem: missing cc, asn, url tests"

[2017-12-09 19:59] #18 closed, assigned to nobody

[2018-01-12 05:44] ventz opened #19 "YAML parsing issue with b4 release"
@wesyoung - Following your b4 build for the docker release, and noticed an error in the YAML file.
(clarification - I am pulling the b4 branch, and building the docker release -- but under the standard build I am getting this):

[code]

[2018-01-13 08:38] ReedCStone opened #20 "easybutton misses a few dependencies"
# Expected behavior and actual behavior.
expected: easybutton.sh installs all dependencies and cif works like magic!
Actual: task [ufw] fails because ufw was not installed
            cif fails after installation due to the following python modules missing:
                     urllib3
                     requests
                     prettytable
                     pytricia

[2018-01-13 12:11] wesyoung commented on #20
hiya,

thanks for the kind words- you don't happen to have a log of the output do you? (both the first run of the easybutton, the second run and the test?)

also- do you know which minor of ubuntu you were testing with (16.04.1|2|3?)

once in a while the odd minors give us problems- shouldn't be the case but never know..

[2018-01-13 15:17] wesyoung commented on #20
also- i just checked this with a bare bones install from the latest vagrant / ubuntu snapshot- i wonder if the deselecting is removing things the easybutton already assumes are there(?). we do as much testing as we can with bare bones vagrant images (so we can automate more of it), so once in a while- depending how you tick the boxes on a manual install something odd is missed, can you at-least ve

[2018-01-13 15:18] wesyoung commented on #19
hrm, got a set of commands i can paste in to re-create this? didn't see this in any of my testing...

[2018-01-13 17:58] ventz commented on #19
Ignore -- re-ran it, and it worked. I am not sure what broke in run time, but it was clearly run time related.

[2018-01-13 17:58] #19 closed, assigned to nobody

[2018-01-14 13:04] wesyoung commented on #19
np- i've been trying to nail down those kinds of issues as they come up (i'm about to doc my testing process which is ... quite extensive these days). but doesn't mean we won't miss something.. as we get closer to RC status maybe we can automate some of this so i can more easily see if it's gonna break stuff on your end, etc..

[2018-01-14 13:05] wesyoung commented on #19
(err automate some of teh docker checks in travis, along with the stuff i'm doing to test ubuntu, rhel, centos, etc..)..

[2018-01-19 17:19] tbennett6421 commented on #15
This affected me too. Running kraigu comment on Oct 2, 2017 worked.

[code]

[2018-01-24 22:40] tbennett6421 commented on #15
Something to add to the conversation, I didn't run into this into a fresh build, but we use saltstack to manage deployment of new assets, and I believe the install of salt-minion interacts with python-crypto and that may be involved.

[2018-01-25 12:18] wesyoung commented on #15
@tbennett6421 that actually sounds about right- i've run into issues with python-crypto "like that" in the past- was kinda chewing on that a bit to see if it was wide spread or an artifact of a 'more custom' build- might be something easy to check for in one of the bootstrap scripts(?)

[2018-01-25 15:30] tbennett6421 commented on #15
Let me know if I can assist in anyway

[2018-01-25 17:16] wesyoung commented on #15
if you want- a quick PR that checks for python-openssl, then applies your work-around if it exists?

https://github.com/csirtgadgets/bearded-avenger-deploymentkit/blob/master/ubuntu16/bootstrap.sh#L14

might be easy to check `dpkg -l` for the package and if it exists, remove and `pip install`.

cheap and easy way to get credit for your finding :)

[2018-01-25 18:22] ReedCStone commented on #20
Using version 16.04.04 of Ubuntu server.
I'll spin up a new vm to regenerate output.

[2018-01-25 19:29] ReedCStone commented on #20
[CIF-1st_run.txt](https://github.com/csirtgadgets/bearded-avenger-deploymentkit/files/1665252/CIF-1st_run.txt)
in CIF-1st_run.txt i think only the last few lines are interesting:
TASK [ufw] ***************************************************************************************************************************************************************
task path: /home/reed/bearded-avenger-deploymentki

[2018-01-25 19:33] tbennett6421 commented on #15
PR created.

[2018-01-25 19:35] wesyoung commented on #20
is the second run by any chance 16.04.3 ?

[2018-01-25 20:46] ReedCStone commented on #20
No, I used the same iso image to install and cut pasted all the commands from the first time I installed CIF.  The only thing I can think of to explain the difference is if the apt packages changed.

[2018-01-25 20:49] wesyoung commented on #20
aye- this happens from time to time (and has for years)- getting around to doing daily / weekly test builds to try and spot it more cleanly so we can catch it before users do (if there's anything we can do about it though- usually its upstream and we wait and it gets resolved quickly).

will keep an eye on- if you spot it again, reopen and we can track.

[2018-01-25 20:49] #20 closed, assigned to nobody

[2018-01-25 20:55] wesyoung commented on #15
fixed by #25

[2018-01-25 20:55] #15 closed, assigned to nobody

[2018-01-26 12:18] wesyoung opened #26 "problem: missing shell checks in easybutton"
via @giovino

https://github.com/koalaman/shellcheck

e.g.

wget https://raw.githubusercontent.com/csirtgadgets/bearded-avenger-deploymentkit/master/centos7/bootstrap.sh

$ shellcheck bootstrap.sh

In bootstrap.sh line 10:
if [ ${RHEL} == '1' ]; then
     ^-- SC2086: Double quote to prevent globbing and word splitting.

[2018-01-29 15:26] mvanwinkleias opened #27 "useradd: cannot create directory /home/cif"
marty@cif1:centos7$ cat /etc/redhat-release
Springdale Linux release 7.4 (Verona)

TASK [csirtgadgets.cif : user] ************************************************************************************************************************************************************************************
task path: /home/marty/cif/bearded-avenger-deploymentkit-3.0.0b4/roles/csirtgadgets.cif/tasks/user.yml:2

[2018-01-31 19:34] mvanwinkleias opened #28 "cif-tokens interaction issues"
# Version:
cif@cif1:~$ cif-tokens --version
3.0.0b4

# Doesn't appear to read ~/.cif.yml
cif@cif1:~$ cif-tokens
Traceback (most recent call last):
  File "/usr/local/bin/cif-tokens", line 11, in <module>
    load_entry_point('cifsdk==3.0.0b4', 'console_scripts', 'cif-tokens')()
  File "/usr/local/lib/python2.7/dist-packages/cifsdk/client/tokens.py", line 77, in main
    raise RuntimeError('missing

[2018-02-08 19:54] wesyoung commented on #26
https://travis-ci.org/csirtgadgets/bearded-avenger-deploymentkit/builds/339147020

[2018-02-08 19:54] #26 closed, assigned to nobody

[2018-02-08 19:55] #27 closed, assigned to nobody

[2018-02-08 20:04] #28 closed, assigned to nobody

[2018-02-09 21:37] ventz opened #29 "Warnings"
Hey Wes,

Just FYI - seeing these:

[code]

[code]

[code]

[code]

[code]

[2018-02-12 12:12] shrishtijain opened #30 "Installation issue"
Hi Wes,

I am trying to install cifv3 and facing many issues.
I have attached file having my issues please provide me with solution
![screenshot from 2018-02-12 17-41-24](https://user-images.githubusercontent.com/26400031/36096357-0e5e59b0-101c-11e8-9512-b4f5b8d6a3e7.png)

thanks in advance

[2018-02-12 12:38] shrishtijain commented on #30
Hi Wes,

Other issue is as shown below
Please help me out in solving these queries
![second issue](https://user-images.githubusercontent.com/26400031/36097154-a9cdb6e0-101f-11e8-9f40-792a02ea33df.png)

[2018-02-14 00:23] wesyoung opened #31 "problem: missing rate limiter configs for nginx"
https://www.nginx.com/blog/rate-limiting-nginx/

[2018-02-16 20:05] wesyoung commented on #30
hi,

when you open an issue, there's a set of questions that need to be answered- specifically what your logs look like. also- did you try any of the other query combinations in the where do i start page?

https://github.com/csirtgadgets/bearded-avenger-deploymentkit/wiki/Where-do-I-start

usually the system takes an hour or two to do it's initial data load.

re: https://github.com/csirtgadgets/be

[2018-03-03 23:50] #30 closed, assigned to nobody

[2018-03-06 07:21] shrishtijain opened #32 "Missing Latest Feeds"
Hello,

Cif server version 3 is installed in my Ubuntu 16 server, but I

 am getting feeds of latest date.
Find attachment below of feeds I had received after running query today, I had highlighted the date in attachment.
[IPLIST06_March.pdf](https://github.com/csirtgadgets/bearded-avenger-deploymentkit/files/1783868/IPLIST06_March.pdf)

Please suggest

[2018-03-09 18:12] wesyoung opened #33 "problem: httpd throws a 422 when POST missing group"

[2018-03-16 16:53] wesyoung commented on #32
please fill out the issue template with the logging information and re-create the issue.

https://github.com/csirtgadgets/bearded-avenger-deploymentkit/wiki/FAQ

[2018-03-16 16:53] #32 closed, assigned to nobody

[2018-03-21 12:20] jpferrero opened #34 "cif v3 hardware requirements"
Hello!

I'm evaluating hardware requirements for CIFv3 and are much lower than CIFv2 xLarge instance. Are these requirements (https://github.com/csirtgadgets/bearded-avenger-deploymentkit/wiki/Hardware) equivalent for a xLage instance?

Thanks,

[2018-03-23 09:38] villain opened #35 "cif v2 -> v3 migration?"
question: will be a migration script/process for those running CIF v2 in order to upgrade to v3 without having to start from scratch

[2018-03-23 12:04] wesyoung commented on #34
check out:

https://csirtgadgets.com/commits/2018/1/20/deploying-threat-intelligence-platforms-in-10min-or-less

toward the end it shows some of the hardware we've been testing. the resources required for v3 are significantly less than v2, so it's not 1 to 1. if you're un-sure, start with something like 2 cores and 4-8GB of mem and beat the crap out of it for a few weeks. should give you a good id

[2018-03-23 12:06] wesyoung commented on #35
dunno- it's not something that's easily generalized because everyone's environment ends up different.  that said i don't think it's that hard either if you want to test some ideas and contribute something. seems like if you were going from ES to ES and only taking high confidence data with you, it should be pretty trivial-

check out this thread and feel free to send a PR if you make some headway.

[2018-03-30 15:43] #34 closed, assigned to nobody

[2018-03-30 15:43] #35 closed, assigned to nobody

[2018-04-17 12:41] wesyoung opened #37 "problem: install fails with geoipupdate"
https://groups.google.com/forum/#!topic/ci-framework/rjnR2QH7Y6g

[2018-04-17 14:47] #37 closed, assigned to nobody

[2018-04-17 19:53] dylanjacob opened #38 "Unsupported parameters for module: daemon_reload"
# Expected behavior and actual behavior.
Ansible installation should install systemd services and enable them at boot.
During install I get errors when Ansible is enabling services at boot saying:
[code]
# Steps to reproduce the problem
In a Dockerfile, I am bringing down bearded-avenger-deploymentkit-3.0.0rc1 and running easybutton.sh. Dockerfile uses ubuntu xenial

# Relevant logs as a result of

[2018-04-17 20:19] wesyoung commented on #38
are you using the same ver of ansible as the deploymentkit:

https://github.com/csirtgadgets/bearded-avenger-deploymentkit/blob/master/ansible.sh

also, there are other docker related issues @ventz is plugging through- i haven't had a chance to look through it yet, maybe the two of you could bounce some ideas around and come up with some PR's ?

in our bootstraps we lock down the minor versions of

[2018-04-17 20:19] wesyoung commented on #38
forgot the issue @ventz posted:

https://github.com/ventz/docker-cif/issues/1#issuecomment-381684140

[2018-04-17 20:22] ventz commented on #38
@dylanjacob - I have a working docker version, but when trying to port the latest changes over, I am running into what seems to be a problem around the checking of the distro version.

If you need a functional docker container, this version works perfectly:
https://github.com/ventz/docker-cif

[2018-04-17 20:23] dylanjacob commented on #38
@ventz  I'm looking at that now.

[2018-04-17 20:26] ventz commented on #38
@wesyoung by the way - I am also using your version of ansible + installed packages/etc.

The only changes really are around the parts that cannot run on docker (firewall, systemd, etc), and that's why we added the the DOCKER flags, so that in the future instead of having to "override" them as they move around, they can just be skipped.

[2018-04-17 20:30] dylanjacob commented on #38
@wesyoung I was also using this same approach, however, I was trying to find a way to get the systemd stuff to work, which is where I ran into the error leading to this issue. I was going to try to get all this to work and then use `CMD ['/sbin/init']` in the Dockerfile to see if I could get everything to come up. Still a little new to Docker builds, so that might have been a wild goose chase.

@v

[2018-04-17 20:30] #38 closed, assigned to nobody

[2018-04-17 20:32] ventz commented on #38
@dylanjacob Sure - no problem. I think I am really close to getting the latest (and ideally, the final release one) to work with Docker. There's just a couple of tiny things like this.

[2018-04-17 23:32] ventz opened #40 "Logic around checks"
@wesyoung

Pulled a clean git clone, and just following the steps listed within docker (manually) -- noticing a lot of checks being skipped:

[code]

a few more:

[code]

and

[code]

It seems that there is something around the ansible logic. This is on the latest ubuntu 16.04 release.

[2018-04-17 23:57] dylanjacob commented on #40
Please correct me if I'm wrong here, but I think that these specifically are "skipped" because the check passed. i.e. the architecture was not 32 bit and so the condition resolved to false and Ansible moved on. Similarly, Ubuntu was found to be >= 16.04 and so Ansible skipped ahead.

[2018-04-18 00:14] ventz commented on #40
@dylanjacob I think you are right - I am reading these incorrectly. Just finished with a manual ansible container where I was running some of these to understand what was going on.

[2018-04-18 00:14] #40 closed, assigned to nobody

[2018-04-27 19:24] wesyoung opened #42 "problem: playbooks missing nginx throttle"

[2018-05-14 09:55] 0xwataru opened #43 "v3 not support cifv2 rules ？"
for example ，torproject_org.yml in v3 is lost.

[2018-05-23 17:06] wesyoung commented on #43
no, v2 rules aren't supported and need to be converted into the v3 format. fields like "observable" need to be converted to "indicator" and so on. see the rules dir for more examples.

[2018-05-23 17:06] #43 closed, assigned to nobody

[2018-06-27 11:41] dionmario opened #45 "error when start csirtg-smrt"
I dont have csirtg support account, I just finished installing cif and when I tried to start csirtg, this is the error that I got :

cif@brainware:~$ csirtg-smrt

2018-06-27 18:31:11,909 - ERROR - csirtg_smrt.smrt[336] - may need to remove the old cache file: /var/lib/smrt/alexa.com/top-1m.csv.zip
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/csirtg_smrt/smrt.py

[2018-06-28 11:19] wesyoung commented on #45
couple of things:

+ when you log an issue- please fill out the issue template
+ `csirtg-smrt` should be running as a service (verify with `ps aux` or `sudo journalctl -fu csirtg-*` to verify)
+ if you're trying to figure out how `csirtg-smrt` works, try: `$ csirtg-smrt -d -r /etc/cif/rules/default/openphish.yml` as a start

[2018-06-29 04:46] dionmario commented on #45
Thank you for your reply.
Ok, sorry about the issue template, I will fill it now.

# Do you have an active https://csirtg.io/support account ? :)
   No

# Expected behavior and actual behavior.
   expected behavior : no error on start the daemon for the first time
   actual beahvior : error on start the daemon for the first time

# Steps to reporduce the problem
    $ csirtg-smrt

# Relevant logs

[2018-06-29 14:54] kraigu opened #46 "Install of latest rc fails on Ubuntu 16.04 due to outdated system python-dateutil package"
# Do you have an active https://csirtg.io/support account ? :)
Nope.

# Expected behavior and actual behavior.
Expected: installation succeeds.
Actual: installation fails.

# Steps to reproduce the problem
Bash the easy button on the latest rc.

# Relevant logs as a result of the actual behavior
fatal: [localhost]: FAILED! => {"changed": true, "cmd": ["pip", "install", "-r", "dev_requirements.txt"

[2018-07-02 14:07] wesyoung commented on #46
before you install, try removing `python-dateutil` first.. i've tried a test install a few different ways and can't reproduce the problem.. also try without updating the image first, see if we can spot the difference and we can go from there...

(i'm assuming you're using Ubuntu16 Server, NOT desktop...)

[2018-07-03 13:02] kraigu commented on #46
Yes, Server. :)
Removing python-dateutil did the trick.

[2018-07-03 13:26] kraigu commented on #46
After that, everything is working perfectly, the getting started wiki page's suggestion of
cif --itype ipv4 --tags scanner -d
returns data.

[2018-07-03 13:28] kraigu commented on #46
In case it's not as obvious to anybody else as it was to me when I wrote it - what I meant by freshly upgraded was this was a base install of 16.04 Server, which I then just did apt update, apt upgrade to in order to get latest packages, then I bashed the easy butan.

[2018-07-03 14:00] kraigu commented on #46
reopened because I had a dumb. Should leave this open until the underlying cause is fixed. @wesyoung has great confidence that I can do it despite this being the first time I've ever ansibled. :)

[2018-07-03 14:44] kraigu commented on #46
Fresh deploy didn't have this problem. Now that I think of it, the system to which I was installing is managed by another group, and it's possible they have something that installed that package on me (specifically, they use salt to manage). I didn't think they installed anything specifically, but I'll have to check.

[2018-07-03 14:49] kraigu commented on #46
Yes, installing salt-minion installs python-dateutil as a dependency. Problem solved, don't use salt to manage your CIF servers. :)

[2018-07-03 14:49] #46 closed, assigned to nobody

[2018-07-12 19:42] wesyoung opened #47 "problem: unclear which version of elasticsearch gets installed"
clean it up

[2018-07-12 19:42] wesyoung commented on #47
[code]

[2018-08-01 15:51] TomStageDK opened #48 "Upgrade to 3.0.0rc3 fails on Elasticsearch task"
Hi,

I am trying to upgrade to the latest version.

# Do you have an active https://csirtg.io/support account ? :)
No (Have a free account)
# Expected behavior and actual behavior.
Installation / Upgrade to be successfull, but it fails.
# Steps to reporduce the problem
Try to run the latest bearded-avenger-deploymentkit-3.0.0rc3 on a system that allrdeady have an older version installed
# Relevant

[2018-08-06 17:01] #33 closed, assigned to nobody

[2018-08-06 17:01] #42 closed, assigned to nobody

[2018-08-06 17:01] #29 closed, assigned to nobody

[2018-08-06 17:01] #47 closed, assigned to nobody

[2018-08-13 18:43] cjhc commented on #48
It is trying to downgrade to 5.6.4, which fails (including on a fresh install of CIFv3rc4 if you already have ES installed).

@wesyoung FYI

I got past that on a new test build by purging my ES install, allowing the anisible task to install the old version, apt upgraded it, and the configured it to talk to another node (2 node ES cluster for testing, because I don't listen to advice like "make sur

[2018-08-13 18:56] cjhc opened #49 "The --itype flag appears not to work in cif test queries in CIF 3.0.0rc4"
# Do you have an active https://csirtg.io/support account ? :)
no

# Expected behavior and actual behavior.
Output of indicators.

# Steps to reporduce the problem
s/reporduce/reproduce/

[code]

Expected output with --itype ommited:
[code]

# Relevant logs as a result of the actual behavior
Failed query:
[code]

Successful query:
[code]

# Specifications like the version of the project, operating

[2018-08-13 22:30] cjhc commented on #49
This should have been filed under bearded-avenger, *not* the deploymentkit. My bad.

[2018-08-20 17:29] #49 closed, assigned to nobody

[2018-08-20 17:32] wesyoung commented on #45
this should be fixed in `csirtg-smrt==1.0.1`

[2018-08-20 17:32] #45 closed, assigned to nobody

[2018-09-04 20:44] cjhc opened #50 "easybutton fails on pytest task / pytest 2.8.7 on Ubuntu 16.04.5 LTS"
# Do you have an active https://csirtg.io/support account ? :)
No

# Expected behavior and actual behavior.
Expected: build completes.

Actual: build fails on this task
bearded-avenger-deploymentkit-3.0.0rc5/roles/csirtgadgets.cif/tasks/dist.yml:36

pytest==2.8.7 is in Ubuntu 16.04LTS, however the test appears to be looking for pytest>=2.9

# Steps to reproduce the problem
$ sudo CIF_ANSIBLE_ES=lo

[2018-09-05 22:57] cjhc commented on #50
After building a new VM with 16.04, a successful easybutton build was possible if updating pytest using pip `sudo pip install -U pytest` to bring it up to 2.9.

[2018-09-14 13:12] JesseBowling commented on #50
Similar issue on Ubuntu 18; `sudo apt-get remove python-pytest` followed by `sudo pip install pytest` solves the issue there.

[2018-09-18 13:41] coonsmatthew commented on #50
I ran into the same issue, I just ran `sudo pip install --upgrade pytest` and that worked for me.

[2018-09-19 11:47] wesyoung commented on #50
can you submit a pull request for this?

https://github.com/csirtgadgets/bearded-avenger-deploymentkit/blob/master/ubuntu16/bootstrap.sh

[2018-09-19 11:56] #31 closed, assigned to nobody

[2018-09-19 12:42] coonsmatthew commented on #50
I'm looking at the bootstrap file, and python-pytest is not called directly, but it must be a dependency of one of the packages called in bootstrap? I did check every package though on the Ubuntu site and don't see python-pytest listed as a dependency of any packages called in boostrap.sh.

In theory, I could change the script, so apt-get first installs pip, then pip installs pytest, and then apt-

[2018-09-19 13:33] wesyoung commented on #50
long as it fixes the problem, nothing "too hacky" for me :)

[2018-10-18 12:07] lmzid opened #52 "ran the easybutton"
when i ran the easybutton..
[root@T ~/xxxx/bearded-avenger-deploymentkit]# sudo bash easybutton.sh
Checking for an Internet connection
http://github.com appears to be available via HTTP
------------------
and then, noting happened..
-------------------------------------------------------------------
what did this means?
and I'm using centos7
ask for help!

[2018-10-18 13:56] #52 closed, assigned to nobody

[2018-10-31 13:04] meetzoo commented on #52
If you look over the commands in https://github.com/csirtgadgets/bearded-avenger-deploymentkit/blob/master/easybutton.sh you will see that it probably tries to get the OS and VER from the command 'uname -s' and 'uname -r'. run those commands and see what happens. for me it returned linux and not centos so I just went to the centos7 folder and ran the script manually. it still did not work eventual

[2018-10-31 16:22] #50 closed, assigned to nobody

[2018-10-31 16:22] #48 closed, assigned to nobody

[2018-11-08 19:16] JesseBowling commented on #48
I'll note that fresh Ubuntu 16 install fail to install with ES on the wait task:

[code]
Running deploymentkit install again results in the downgrade error mentioned above. So, the problem is that CIF with ES won't install at all on fresh Ubuntu 16.

Current ES for Ubuntu 16 is 5.6.13 . Currently trying to work through the changes to just try running with that version.

[2018-11-08 19:17] JesseBowling commented on #48
*chagrin*

My initial error may actually be lack of resources:

Nov  8 19:10:56 ip-172-31-47-125 elasticsearch[11153]: OpenJDK 64-Bit Server VM warning: INFO: os::commit_memory(0x0000000085330000, 2060255232, 0) failed; error='Cannot allocate memory' (errno=12)
Nov  8 19:10:56 ip-172-31-47-125 elasticsearch[11153]: #
Nov  8 19:10:56 ip-172-31-47-125 elasticsearch[11153]: # There is insufficient me

[2018-11-08 19:26] JesseBowling commented on #48
Confirmed that larger machine installs correctly. Also confirmed that at least `cif -p` works with the es_version set to 5.6.13 (but had to change in both global_vars and ubuntu16/site.yml).

[2018-12-21 09:40] jpferrero opened #54 "cif-router error"
Hello,

I have installed cif-3.0.0rc8 (Ubuntu 16.04) and from time to time suddenly stops inserting data. The process cif-router dies:

cif      15422  0.0  0.0      0     0 ?        Z<   dic14   2:37 [cif-router] <defunct>

It seems that there is a problem inserting 1 indicator and then cif-router process stop working:

dic 21 03:35:57 cif cif-router[15402]: 2018-12-21 03:35:57,170 - DEBUG - cif.

[2019-02-01 01:36] cjhc opened #55 "pytest version / dep problem on Ubuntu 16.04.5 LTS is back"
# Are you getting value from the project? Have you donated to the project?

https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YZPQXDLNYZZ3W

# Did you check the FAQ https://github.com/csirtgadgets/bearded-avenger-deploymentkit/wiki/FAQ ?
Yes

# Are you running with hunters enabled? If so, does turning them off resolve the problem?
N/A

# Expected behavior and actual behavior.
Se

[2019-02-01 01:50] sfinlon commented on #55
This should have been fixed with the 3.0.1 release which was put out about 5 hours ago.

[2019-02-01 01:51] sfinlon commented on #54
This should be fixed in release 3.0.1. Code was added https://github.com/csirtgadgets/bearded-avenger/pull/444 to fix it.

[2019-02-01 02:03] cjhc commented on #55
@sfinlon That's hilarious. Looks like 3... which is a couple hours after I started my build today. Thanks! I'll give that a shot once I restore my test host snapshot.

[2019-02-01 02:21] sfinlon commented on #50
So this was because of the dev_requirements.txt on bearded-avenger https://github.com/csirtgadgets/bearded-avenger/blob/2ea31582d688b67a5695b14ac476135ba4a0116e/dev_requirements.txt#L3 should we undo the hacky parts and just fix the limits in the requirements file?

[2019-02-01 02:21] cjhc commented on #55
Confirmed, build completes without special intervention required.

[2019-02-01 02:21] #55 closed, assigned to nobody

[2019-02-01 14:07] wesyoung commented on #50
i think if you just test with the latest ver of the libs (pytest vs pycov?) and re-limit the you should be OK.

[2019-03-17 03:35] ventz opened #56 "3.0.1 - token in .cif.yml does not match sqlite tokens entry."
Hey Wes,

(Erasing the template since I think my issue is very simple and I can describe it in 2-3 sentences)

Doing a brand new install of 3.0.1 - btw, noticed that the docker override now passes! - I was trying to build the latest version.

Everything installs/sets up. I start, and it seems that the token in ~/cif.yml does not match the entry token in the sqlite3 tokens table.

Not sure what wou

[2019-03-17 03:38] ventz commented on #56
Adding some real info - this is after a brand new install (ubuntu 16.04):

[code]

[code]

[code]

[code]

[code]

[2019-05-18 02:07] ventz commented on #56
@wesyoung Ping - anything on this? I believe it's the last thing preventing from launching the latest version in a docker container.

[2019-05-20 12:40] sfinlon commented on #56
Let me take a look at this @ventz. Wes is focusing on v4/v5 and isn't paying too much attention to v3 at the moment.

This is only when installing via the deployment kit?

[2019-05-20 13:24] sfinlon commented on #56
I just ran through the 3.0.3 install a couple of times and it seems to be fine for me.

`cif@cifv3:/usr/local/src/bearded-avenger-deploymentkit-3.0.3$ cif-tokens
+-------------+----------+------------------+-------+------+-------+------+---------+----------------------------------------------------------------------------------+
|   username  |  groups  | last_activity_at | admin | read | write |

[2019-05-20 22:22] ventz commented on #56
@sfinlon - v 3.0.3 is not building for me in Docker:

[code]

Version 3.0.1 built without issues.

I am doing all this to build a docker version of this :)

[2019-05-20 22:54] sfinlon commented on #56
@ventz can you share your docker file? Is it in a repo I can test/ play with?

[2019-05-21 00:06] ventz commented on #56
@sfinlon Absolutely:

1.) mkdir 'container'

Place these files in it:

# Dockerfile
[code]

# Entrypoint
[code]

# supervisord.conf
[code]

2.) build your container:
[code]

3.) run it:
[code]

This was the last working version:
https://github.com/ventz/docker-cif

Since then it broke, it went from problems to fixes, to patches -- eventually Wes merged some of the key "Docker related" things into

[2019-05-21 00:46] sfinlon commented on #56
Ok, I fixed the build so it builds/runs, and it's replicating the token error. I'll have to look at the config to see where, but it looks like it's generating the admin token twice and either overriding or not updating the yml file.

[2019-05-21 01:17] ventz commented on #56
@sfinlon Great - thanks!

[2019-05-22 02:49] sfinlon commented on #56
@ventz i rewrote the majority of the build process and configurations...
I threw it in a repo on my github here:
https://github.com/sfinlon/cif-docker

In your setup, I didn't troubleshoot to figure out exactly where but it looks like it was running the ansible setup twice, once with the env vars set and once without. Because of the env var change it was creating /var/lib/cif/cif.sqlite and /var/l

[2019-05-22 04:00] ventz commented on #56
@sfinlon The goal all along was to push this into the official project. I would love it if you can take over it actually! (I would fix a couple of things in the Dockerfile to make the more "dynamic/variable"), but you are welcome to take whatever you want from my stuff.

I've been pinged by a lot of people about CIF + docker, and updating the container I have (>50 people in the past year), so it w

[2019-05-29 17:31] mvanwinkleias opened #60 "csirtg-smrt - list index out of range"
Hi, Scott!

csirtg-smrt , when run without any parameters, complains about an index being out of bounds in argv.  I'm using
* https://github.com/csirtgadgets/bearded-avenger-deploymentkit/releases/tag/3.0.4

cif@cif1:~$ csirtg-smrt --version
1.0.5

This appears to be the same bug as https://github.com/csirtgadgets/bearded-avenger-deploymentkit/issues/45

marty

[2019-12-05 09:43] lisicn opened #62 "Python environment installation error"
Thanks for this great project, but I have to ask my questions.

I installed https://github.com/csirtgadgets/threatened-avenger-deploymentkit/wiki according to the instructions

When I execute 'CIF - p', prompt me: 'command' CIF 'not found, did you mean'

This is my 'sudo bash easybutton. sh' execution result
![1](https://user-images.githubusercontent.com/38556416/70223397-a3d62b80-1786-11ea-9aea-5

[2020-02-14 16:11] aflick2486 commented on #62
I was having the same issue during my installation. I believe the issue has to do with the fact the python 2.7 was being deprecated in January 2020. I was able to solve this by installing the dependencies before running the easybutton.sh. These are the two commands that I run to install all of the dependencies and then run the easybutton again.
- `sudo -H pip install gevent==1.2.1 cifsdk==3.0.8 py

[2022-04-28 19:54] zrayburn commented on #62
Are there any plans to migrate CentOS/RHEL to python3?

[2022-04-29 00:30] #62 closed, assigned to nobody

[2022-04-30 15:30] #54 closed, assigned to nobody

[2022-04-30 15:30] #56 closed, assigned to nobody

[2022-04-30 15:30] #60 closed, assigned to nobody